:root {
    --primary-color: #2ecc71;
    --secondary-color: #3498db;
    --font-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../assets/night-1084.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-register {
    width: 400px;
    background-color: #ebecef;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 4px;
    font-family: 'calibri';
    color: var(--secondary-color);
    box-shadow: 7px 13px 37px #000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    position: relative;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.accept-btn {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.accept-btn:hover {
    background-color: #c0392b;
}

@media (max-width: 768px) {
    .form-register {
        width: 90%;
        margin-top: 50px;
    }

    .controls {
        font-size: 16px;
    }

    .form-register h4 {
        font-size: 18px;
    }
}

.form-register h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #ebecef;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid var(--secondary-color);
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
}

.form-register a {
    color: var(--secondary-color);
    text-decoration: none;
}

.form-register a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.form-register #button {
    width: 100%;
    background: var(--secondary-color);
    border: none;
    padding: 12px;
    color: rgb(247, 245, 245);
    margin: 16px 0;
    font-size: 16px;
}

#button:hover{
    background: var(--primary-color);
    cursor: pointer;
}