<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./../css/about-us.css">
</head>
<body>
    <header>
        <nav>
            <ul id="ini-nav">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="about-us.html">Acerca de</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="title">
            <h1>Sobre Nosotros</h1>
        </section>
        <section id="about-us">
            <h2>¿Quiénes Somos?</h2>
            <p>
                Somos un equipo de estudiantes apasionados por la tecnología y el medio ambiente. Participamos en un Bootcamp de desarrollo web e investigación para crear soluciones tecnológicas que promuevan la sostenibilidad.
            </p>
        </section>
        <section id="mission">
            <h2>Misión</h2>
            <p>Proporcionar conocimiento e inspiración para fomentar el uso de energías limpias, ayudando a crear un mundo más sostenible y saludable.</p>
        </section>
        <section id="vision">
            <h2>Visión</h2>
            <p>Ser una plataforma reconocida por su impacto en la educación y concienciación sobre el uso de energías renovables a nivel global.</p>
        </section>
        <section id="team">
            <h2 id="sub-tittle">Conoce a Nuestro Equipo</h2>
            <div class="team-member">
                <img id="member-one" src="./../img/profile_oscar.jpeg" alt="Nombre del miembro 1">
                <h3>Oscar Fabian Imbachi Erazo</h3>
                <p><b>Estudiante de la UNAL, Manizales; Ingeniería electrónica</b>, Le gusta todo  lo relacionado con la tecnología, la  filosofía, el arte y la literatura,  y es un  apasionado por aprender de cada experiencia que ofrece  la vida.</p>
            </div>
            <div class="team-member">
                <img id="member-two" src="./../img/profile_edwin.png" alt="Nombre del miembro 2">
                <h3>Edwin Rivera Ballesteros</h3>
                <p><b>Ingenierio de sistemas</b>, Es un apasionado por la tecnología, los videos juegos y el anime, le gusta aprender, le gusta transmitir sus conocimientos y disfruta pasar el tiempo con su familia.</p>
            </div>
            <div class="team-member">
                <img id="member-three"src="persona2.jpg" alt="Nombre del miembro 2">
                <h3>Nombre del miembro 2</h3>
                <p>Rol y breve descripción.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Energía Renovable</p>
        <h3>Creditos</h3>
        <p>Images <a href="http://www.freepik.com" target="_blank">Designed by Freepik </a>| Carrusel <a
                href="https://mzdev.online/" target="_blank">mzdev </a>| Iconos y mas <a
                href="https://fontawesome.com/">Fontawesome </a>| Graficos elaborados con |<a
                href="https://colab.research.google.com/"> Colab</a></p>
    </footer>
    <script src="./../js/about-us.js"></script>
</body>
</html>
