<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link rel="stylesheet" href="../css/card.css">
</head>

<body>
    <div class="container">
        <div class="slide">
            <div class="item" style="background-image: url(../img/reco-all-time.png);">
                <div class="content">
                    <div class="name">Comparativa CO-MX-UE</div>
                    <div class="des">Se realiza un comparativo entre Colombia, Mexico y Europa con relación al
                        porcentaje de energia renovable generada en cada uno.</div>
                </div>
            </div>
            <div class="item" style="background-image: url(../img/reco-global-time.png);">
                <div class="content">
                    <div class="name">Promedio por año</div>
                    <div class="des">Se evidencia la cantidad de energia renovable por año de todos los paises del
                        mundo.</div>
                </div>
            </div>
            <div class="item" style="background-image: url(../img/reno-col-time.png);">
                <div class="content">
                    <div class="name">Colombia</div>
                    <div class="des">Muestra el porcentaje de energia renovable generado por Colombia.</div>
                </div>
            </div>
            <div class="item" style="background-image: url(../img/reno-mex-time.png);">
                <div class="content">
                    <div class="name">Mexico</div>
                    <div class="des">Muestra el porcentaje de energia renovable generado por Mexico.</div>
                </div>
            </div>
            <div class="item" style="background-image: url(../img/reno-eur-time.png);">
                <div class="content">
                    <div class="name">Europa</div>
                    <div class="des">Muestra el porcentaje de energia renovable generado por Europa.</div>
                </div>
            </div>
            <div class="item" style="background-image: url(../img/reco-top-time.png);">
                <div class="content">
                    <div class="name">Top 6</div>
                    <div class="des">Muestra el Top de paises con mayor porcentaje de generacion de energias renovables.
                    </div>
                </div>
            </div>
        </div>

        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>

    <script src="../js/card.js"></script>
</body>

</html>