<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energía Renovable</title>
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header>
        <nav>
            <ul id="ini-nav">
                <li><a href="index.html">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1 id="title">Energía Renovable</h1>
        </section>
        <section>
            <div class="container">
                <div class="card-body">
                    <h1 id="title-intro">Introducción</h1>
                    <p id="text-intro">Este sitio web tiene como misión acerca a las personas al mundo de la energía
                        renovable y su impacto positivo en nuestro planeta. Aquí, descubrirás cómo el uso de fuentes
                        limpias y sostenibles puede transformar nuestra forma de vivir y proteger el medio ambiente.
                        Entender el consumo energético, los datos que lo rodean y cómo podemos optimizarlo es clave para
                        construir un futuro más responsable y eficiente.

                        A través de este espacio, aprenderás sobre las distintas fuentes de energía renovable, sus
                        beneficios y el papel que cada uno de nosotros puede desempeñar en la transición hacia un mundo
                        más verde. <b>¡Acompáñanos en este viaje hacia un futuro sostenible!</b><br>Para irte adentrando
                        en el mundo de energias renovables se presenta la siguiente tabla la cual
                        muestra el porcentaje de energia renivable que se genera en colombia en los ultimos 14 años.</p>
                    <table id="data-table">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <span>Datos recuperados de <a href="https://www.kaggle.com/" target="_blank">Kaggle.com</a></span>
                </div>
            </div>
        </section>
        <section class="statistics">
            <h1 id="title-est">Estadisticas</h1>
        </section>
        <section id="iframe">
            <iframe src="card.html" style="width:100%; height:750px;"></iframe>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Energía Renovable</p>
        <h3>Creditos</h3>
        <p>Images <a href="http://www.freepik.com" target="_blank">Designed by Freepik </a>| Carrusel <a
                href="https://mzdev.online/" target="_blank">mzdev </a>| Iconos y mas <a
                href="https://fontawesome.com/">Fontawesome </a>| Graficos elaborados con |<a
                href="https://colab.research.google.com/"> Colab</a></p>
    </footer>

    <script src="../js/index.js"></script>
</body>

</html>