/* Variables CSS */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-color: #333;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos base */
body {
  font-family: Arial, sans-serif;
  color: var(--font-color);
  line-height: 1.6;
  background-color: #f4f4f9;
}

header {
  background: var(--primary-color);
  padding: 1rem 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

nav ul li a {
  color: white;
  font-size: large;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

a:hover {
  color: #020202;
  font-weight: bold;
}

#ini-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: var(--primary-color);
  color: white;
}

main {
  background-image: url('../img/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 80%;
  height: 90%;
  border-top: 2px solid #FFFFFF75;
  border-left: 2px solid #FFFFFF75;
  box-shadow: 5px 5px 12px #00000035;
  background: #ffffff9a;
  border-radius: 5px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  margin: auto;
  display: flex;
}

#card-body {
  text-align: center;
  width: 80%;
}

#text-intro {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
}

#title {
  font-size: 350%;
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

#title-est, #title-intro {
  text-align: center;
  font-weight: 900;
  font-style: italic;
}

#title:hover, #title-est, #title-intro {
  cursor: pointer;
  animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
  from {
    color: #3498db;
  }

  to {
    color: #be6f07;
  }
}

.statistics {
  background-color: rgba(red, green, blue, alpha);
}

table {
  width: 80%;
  max-width: 800px;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 1%;
}

thead tr {
  background-color: #4CAF50;
  color: white;
  text-align: left;
  font-weight: bold;
}

th,td {
  padding: 12px 15px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #d1e7dd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

td, th {
  border-bottom: 1px solid #ddd;
}

th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

iframe {
  border-radius: 5px;
}